<template name="ApplicationLayout">
    <header>
        <title>Trivia Rumble</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>
    <body>
    <header>
        <nav role="navigation">
            <div class="nav-wrapper container">
                <a href="/" id="logo-contaianer" class="brand-logo">Trivia</a>
                <ul class="right">
                    <li><a href=""><i class="material-icons left">search</i>Find Friends</a></li>
                    <li>{{> loginButtons align=right}}</li>
                </ul>
            </div>
        </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer">
            <div class="container">
            @ G  shit
            </div>
        </footer>
    </body>
</template>